// h2{
//     margin-top: -100px;
//     text-align: center;
// }

.nb-theme-default nb-card-header {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #edf1f7;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #1a2138;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  display: none;
  line-height: 1.5rem;
}

// #theImg {
//   height: 100px;
//   width: 100px;
// }
