.content {
    padding: 25px;
}

.productset {
    border: 1px solid #F8F8F8;
    box-shadow: 0px 4px 4px 0px #EDEDED40;
    background: #fff;
    margin: 0 0 25px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
    &:hover {
        border: 1px solid #7367F0;
    }
    .check-product {
        display: none;
        width: 34px;
        height: 23px;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        background: #7367F0;
        border-radius: 4px 0;
    }
    &.active {
        border: 1px solid #7367F0;
        .check-product {
            // @extend %display-flex;
            // @extend %align-items-center;
            // @extend %justify-content-center;
        }
    }
    &:hover {
        .productsetimg {
            img {
                transform: scale(1.2);
            }
            h6 {
                transform: translatey(0);
            }
        }
    }
    .productsetimg {
        // @extend %display-flex;
        // @extend %align-items-center;
        // @extend %justify-content-center;
        position: relative;
        overflow: hidden;
        img {
            transition: all 0.5s;
            border-radius: 5px 5px 0px 0px;
            // @include respond-below(custom991) {
            //     max-height: 150px;
            // }
        }
        h6 {
            position: absolute;
            background: #FF9F43;
            color: #fff;
            font-size: 10px;
            padding: 5px;
            border-radius: 5px;
            top: 20px;
            right: 20px;
            transform: translatey(-60px);
            transition: all 0.5s;
        }
    }
    .productsetcontent {
        padding: 13px;
        text-align: center;
        h4 {
            font-size: 14px;
            font-weight: bold;
            color: #000;
            margin-bottom: 13px;
        }
        h5 {
            color: #6E6B7B;
            font-size: 12px;
        }
        h6 {
            color: #EA5455;
            margin: 0 0 0 auto;
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.tabs_wrapper {
    ul.tabs {
        display: inline-block;
        width: 100%;
        padding-left: 0;
        li {
            list-style: none;
            cursor: pointer;
            display: inline-block;
            border-radius: 5px;
            color: white;
            font-family: sans-serif;
            width: 100%;
            &.active {
                background-color: #7367F0;
                .product-details {
                    background: transparent;
                    border: 0 !important;
                    h6 {
                        color: #fff;
                    }
                }
            }
        }
    }
    .tabs_container {
        padding-top: 00px;
        display: inline-block;
        width: 100%;
        .tab_content {
            display: none;
            width: 100%;
            &.active {
                display: inline-block;
            }
        }
    }
}